<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  height: auto;
  background-color: #f8f8fb;
  color: #171645;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 554px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2rem;
  margin: 30px auto;
  text-align: center;
}

input {
  padding: 25px;
  margin-bottom: 15px;
  border: 1px solid #dadaf2;
  border-radius: 4px;
  background-color: #f8f8fb;
  outline: none;
  font-size: 1.1rem;
}

input::placeholder {
  color: #8b8aa2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.btn-login {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: #171645;
  color: #fff;
  padding: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #3a0065;
}

p {
  text-align: center;
  margin: 35px auto;
}

p:first-of-type {
  color: #8b8aa2;
}

.social-login {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.social-login button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 25px;
  border: 1px solid #dadaf2;
  background-color: #f8f8fb;
  color: #171645;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-login button:hover {
  background-color: #e0e0e0;
}

a,
a:visited {
  text-decoration: none;
  color: #171645;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #1b0099;
}

@media (max-width: 590px) {
  .container {
    width: 90%;
  }
=======
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  height: auto;
  background-color: #f8f8fb;
  color: #171645;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 554px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2rem;
  margin: 30px auto;
  text-align: center;
}

input {
  padding: 25px;
  margin-bottom: 15px;
  border: 1px solid #dadaf2;
  border-radius: 4px;
  background-color: #f8f8fb;
  outline: none;
  font-size: 1.1rem;
}

input::placeholder {
  color: #8b8aa2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.btn-login {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: #171645;
  color: #fff;
  padding: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #3a0065;
}

p {
  text-align: center;
  margin: 35px auto;
}

p:first-of-type {
  color: #8b8aa2;
}

.social-login {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.social-login button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 25px;
  border: 1px solid #dadaf2;
  background-color: #f8f8fb;
  color: #171645;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-login button:hover {
  background-color: #e0e0e0;
}

a,
a:visited {
  text-decoration: none;
  color: #171645;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #1b0099;
}

@media (max-width: 590px) {
  .container {
    width: 90%;
  }
>>>>>>> 06d09e18dfc642437d26ae3883e5a5337b89bc43
}