<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: #f3f7fc;
  color: #1d284e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}

.card {
  background-color: #fff;
  border-radius: 40px;
  padding: 70px;
  max-width: 685px;
  width: 100%;
  box-shadow: 20px -20px #1d284e;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 50px;
}

button {
  border: none;
  border-radius: 16px;
  padding: 15px 21px;
  margin: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

#email-btn {
  background-color: #1d284e;
  color: #fff;
}

#email-btn:hover {
  background-color: #333a5e;
}

#facebook-btn {
  background-color: #227bef;
  color: #fff;
}

#facebook-btn:hover {
  background-color: #105bb5;
}

.disclaimer {
  font-size: 0.8rem;
  margin: 20px 0 -30px;
  width: 350px;
}

a,
a:visited {
  color: #1d284e;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #227bef;
}

@media (max-width: 750px) {
  .container {
    margin: 100px auto;
  }

  .card {
    width: 90%;
    padding: 50px;
  }

  body {
    font-size: 1rem;
  }

  .disclaimer {
    width: 100%;
  }
=======
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: #f3f7fc;
  color: #1d284e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}

.card {
  background-color: #fff;
  border-radius: 40px;
  padding: 70px;
  max-width: 685px;
  width: 100%;
  box-shadow: 20px -20px #1d284e;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 50px;
}

button {
  border: none;
  border-radius: 16px;
  padding: 15px 21px;
  margin: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

#email-btn {
  background-color: #1d284e;
  color: #fff;
}

#email-btn:hover {
  background-color: #333a5e;
}

#facebook-btn {
  background-color: #227bef;
  color: #fff;
}

#facebook-btn:hover {
  background-color: #105bb5;
}

.disclaimer {
  font-size: 0.8rem;
  margin: 20px 0 -30px;
  width: 350px;
}

a,
a:visited {
  color: #1d284e;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #227bef;
}

@media (max-width: 750px) {
  .container {
    margin: 100px auto;
  }

  .card {
    width: 90%;
    padding: 50px;
  }

  body {
    font-size: 1rem;
  }

  .disclaimer {
    width: 100%;
  }
>>>>>>> 06d09e18dfc642437d26ae3883e5a5337b89bc43
}