@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mulish:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: #2a2a47;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.filter-box {
  background-color: #1f1f3c;
  color: #bdbdd3;
  padding: 50px;
  max-width: 416px;
  width: 90%;
  border-radius: 25px;
  box-shadow: 20px 30px 5px #4744c5;
}

.filter-box h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 18px;
}

.input-group input[type="text"] {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: #2a2a47;
  color: #696998;
  margin-bottom: 25px;
}

.input-group input[type="text"]::placeholder {
  font-size: 18px;
  color: #696998;
}

.checkbox-group {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: space-between;
}

.checkbox-group label {
  font-size: 18px;
  color: #bdbdd3;
  margin: 12px 0; /* Adjust margin */
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  display: none; /* Hide default checkbox */
}

.checkbox-group input[type="checkbox"] + span {
  position: relative;
  padding-left: 40px; /* Space for custom checkbox */
  cursor: pointer; /* Show pointer on hover */
}

/* Custom checkbox */
.checkbox-group input[type="checkbox"] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  width: 30px;
  height: 30px;
  border: 2px solid #bdbdd3; /* Light border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-group input[type="checkbox"]:checked + span::before {
  content: "✔";
  background-color: #4744c5; /* Background when checked */
  border-color: #4744c5;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px){
  .filter-container{
    margin: 60px auto;
  }
}