<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,500;0,600&family=Merriweather:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  height: 100vh;
  background: linear-gradient(110deg, #e0d6ff 55%, #f0f6ff 50%);
  background-repeat: no-repeat;
  overflow: hidden;
}

.modal {
  margin: 20px auto;
  background-color: #fff;
  width: 820px;
  max-width: 90%;
  height: auto;
  padding: 60px;
  border-radius: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.modal-header h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 30px;
}

.modal-header button {
  color: #536784;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f0f6ff;
  width: 56px;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
}

.modal-section {
  margin-bottom: 50px;
}

.modal-section h3 {
  font-size: 1em;
  color: #1f223d;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 780px;
  margin-bottom: 28px;
}

.checkbox-group div {
  display: flex;
  flex-direction: column;
}

.checkbox-group label {
  margin-right: 30px;
  margin-bottom: 18px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #1f223d;
}

.checkbox-group label input[type="checkbox"] {
  accent-color: #536784;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #e0eaf7;
  padding: 40px;
  margin-bottom: -120px;
}

.modal-footer .clear-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #1f223d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.modal-footer .apply-button {
  padding: 20px;
  width: 180px;
  font-weight: 600;
  border: none;
  background: #e0d6ff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    overflow: auto;
    height: 160vh;
  }

  .modal-footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,500;0,600&family=Merriweather:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  height: 100vh;
  background: linear-gradient(110deg, #e0d6ff 55%, #f0f6ff 50%);
  background-repeat: no-repeat;
  overflow: hidden;
}

.modal {
  margin: 25px auto;
  background-color: #fff;
  width: 820px;
  max-width: 90%;
  height: auto;
  padding: 60px;
  border-radius: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.modal-header h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 30px;
}

.modal-header button {
  color: #536784;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f0f6ff;
  width: 56px;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
}

.modal-section {
  margin-bottom: 50px;
}

.modal-section h3 {
  font-size: 1em;
  color: #1f223d;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 780px;
  margin-bottom: 28px;
}

.checkbox-group div {
  display: flex;
  flex-direction: column;
}

.checkbox-group label {
  margin-right: 30px;
  margin-bottom: 18px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #1f223d;
}

.checkbox-group label input[type="checkbox"] {
  accent-color: #536784;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #e0eaf7;
  padding: 40px;
  margin-bottom: -120px;
}

.modal-footer .clear-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #1f223d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.modal-footer .apply-button {
  padding: 20px;
  width: 180px;
  font-weight: 600;
  border: none;
  background: #e0d6ff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    overflow: auto;
    height: 160vh;
  }

  .modal-footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}
>>>>>>> 06d09e18dfc642437d26ae3883e5a5337b89bc43
