<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #434f7a;
}

.event-card {
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 0 30px #333f6b;
  max-width: 539px;
  width: 100%;
}

.event-info {
  margin-bottom: 10px;
}

.event-date {
  font-size: 16px;
  color: #434f7a;
  font-weight: 700;
  margin-bottom: 20px;
}

.event-title {
  font-size: 24px;
  margin-bottom: 20px;
  max-width: 322px;
  width: 100%;
  line-height: 1;
  color: #132152;
  font-weight: 600;
}

.event-location {
  font-size: 18px;
  color: #132152;
  margin-bottom: 30px;
  font-weight: 600;
}

.event-attendees {
  display: flex;
  align-items: center;
}

.event-attendees img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: -5px;
  object-fit: cover;
}

.event-attendees p {
  margin-left: 20px;
  font-weight: 400;
  color: #434f7a;
}

.attend-button {
  display: block;
  background-color: #132152;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: -40px 360px -10px 360px;
}

.attend-button:hover {
  background-color: #0e1940;
  transform: scale(1.05);
}

@media (max-width: 570px) {
  .event-card {
    width: 85%;
  }

  .attend-button {
    margin: 30px 0 0;
    width: 100%;
    max-width: unset;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #434f7a;
}

.event-card {
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 0 30px #333f6b;
  max-width: 539px;
  width: 100%;
}

.event-info {
  margin-bottom: 10px;
}

.event-date {
  font-size: 16px;
  color: #434f7a;
  font-weight: 700;
  margin-bottom: 20px;
}

.event-title {
  font-size: 24px;
  margin-bottom: 20px;
  max-width: 322px;
  width: 100%;
  line-height: 1;
  color: #132152;
  font-weight: 600;
}

.event-location {
  font-size: 18px;
  color: #132152;
  margin-bottom: 30px;
  font-weight: 600;
}

.event-attendees {
  display: flex;
  align-items: center;
}

.event-attendees img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: -5px;
  object-fit: cover;
}

.event-attendees p {
  margin-left: 20px;
  font-weight: 400;
  color: #434f7a;
}

.attend-button {
  display: block;
  background-color: #132152;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: -40px 360px -10px 360px;
}

.attend-button:hover {
  background-color: #0e1940;
  transform: scale(1.05);
}

@media (max-width: 570px) {
  .event-card {
    width: 85%;
  }

  .attend-button {
    margin: 30px 0 0;
    width: 100%;
    max-width: unset;
  }
}
>>>>>>> 06d09e18dfc642437d26ae3883e5a5337b89bc43
