@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mulish:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  background-color: #232044;
  min-height: 100vh;
}

.modal {
  background-color: #322e59;
  max-width: 480px;
  border-radius: 60px;
  padding: 20px;
  position: relative;
  box-shadow: -30px -20px #1b183c;
  margin: 50px auto;
}

.modal h1 {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  color: #bcbacf;
  font-weight: 700;
  margin: 30px 40px 30px;
}

.close-btn {
  background: none;
  border: none;
  position: absolute;
  top: 50px;
  right: 40px;
  color: #bcbacf;
  cursor: pointer;
  font-size: 2.2rem;
}

.search-section {
  margin-bottom: 20px;
  margin-left: 40px;
}

.search-section p {
  font-weight: 600;
  color: #bcbacf;
  font-size: 14px;
  margin-bottom: 10px;
}

.search-section input {
  width: 90%;
  padding: 25px;
  background-color: #232044;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-section input::placeholder {
  font-size: 16px;
  color: #bcbacf;
}

.view-section,
.include-section {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.view-section p,
.include-section p {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #bcbacf;
  font-size: 16px;
  margin-bottom: 10px;
}

.view-section label,
.include-section label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #bcbacf;
  font-weight: 400;
}

.view-section label:last-child {
  margin-bottom: 40px;
}

.view-section input[type="radio"],
.include-section input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #bcbacf;
  background-color: #232044;
  cursor: pointer;
}

.save-btn {
  background-color: #ffbb56;
  font-weight: 600;
  color: #232044;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  border: none;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: center;
  margin: 40px auto;
  align-items: center;
}
