@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@600&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #cc1758;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffc148;
  padding: 80px;
  border: 20px solid #ffce6d;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  width: min-content;
}

.filter-box {
  min-width: 290px;
}

.filter-box h1 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: -20px;
  color: #141140;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffce6d;
  border: 1px solid #ec9f09;
  margin-bottom: 20px;
  font-size: 16px;
  color: #141140;
}

.search-box input:focus {
  outline: none;
}

#authorList {
  list-style: none;
}

.author-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  color: #141140;
  cursor: pointer;
  transition: background-color 0.3 ease;
}

.author-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.author-item.selected,
.author-item:hover {
  background-color: #ff9548;
  border-radius: 5px;
}

@media (max-width: 480px) {
    .container {
      padding: 30px;
      width: 80%;
    }
  
    .filter-box h1 {
      margin-top: 5px;
    }
  
    .search-box input {
        width: 80%;
    }

    .author-item {
        width: 80%;
    }
}

@media (max-width: 340px) {
  .filter-box h1 {
    font-size: 26px;
  }

  .search-box input {
    width: 70%;
  }

  .author-item {
    width: 70%;
  }
  
  .author-item span{
    font-size: 14px;
  }
}