<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  height: 100vh;
  background-color: #2e3769;
  color: #fff;
  overflow: hidden;
}

.container {
  background-color: #475788;
  padding: 20px;
  max-width: 900px;
  width: 95%;
  margin: 150px auto;
  border-radius: 16px;
  box-shadow: 0 20px #222b5c;
}

.signUp-box {
  width: 100%;
  padding: 40px;
}

h3 {
  font-weight: 500;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  max-width: 627px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="email"] {
  padding: 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 550px;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 16px;
  border: 4px solid #747db0;
}

input[type="email"]::placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button {
  background-color: #9d50ff;
  border: none;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 200px;
  height: 65px;
}

button:hover {
  background-color: #7d3bb2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 16px;
  max-width: 100%;
  margin-top: 20px;
}

a,
a:visited {
  color: #fff;
}

@media (max-width: 800px) {
  body {
    overflow: auto;
  }

  .container {
    margin: 50px auto;
  }

  .signUp-box {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  height: 100vh;
  background-color: #2e3769;
  color: #fff;
  overflow: hidden;
}

.container {
  background-color: #475788;
  padding: 20px;
  max-width: 900px;
  width: 95%;
  margin: 150px auto;
  border-radius: 16px;
  box-shadow: 0 20px #222b5c;
}

.signUp-box {
  width: 100%;
  padding: 40px;
}

h3 {
  font-weight: 500;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  max-width: 627px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="email"] {
  padding: 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 550px;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 16px;
  border: 4px solid #747db0;
}

input[type="email"]::placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button {
  background-color: #9d50ff;
  border: none;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 200px;
  height: 65px;
}

button:hover {
  background-color: #7d3bb2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 16px;
  max-width: 100%;
  margin-top: 20px;
}

a,
a:visited {
  color: #fff;
}

@media (max-width: 800px) {
  body {
    overflow: auto;
  }

  .container {
    margin: 50px auto;
  }

  .signUp-box {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    height: auto;
  }
}
>>>>>>> 06d09e18dfc642437d26ae3883e5a5337b89bc43
