@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #aebbdd;
  color: #19347b;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px auto;
  max-width: 650px;
  width: 80%;
  position: relative;
}

.settings-card {
  background-color: #fff;
  padding: 60px;
  border-radius: 39px;
  box-shadow: -50px -50px #f2e6c6;
}

.settings-card .card-top {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 15px;
}

.settings-card .card-top .back-arrow {
  color: #19347b;
  font-size: 28px;
}

.settings-card .card-top h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 32px;
}

.invite {
  padding-left: 40px;
  line-height: 1.6;
  width: 80%;
  margin-bottom: 15px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 15px 40px;
}

.setting .setting-title {
  font-weight: 600;
  font-size: 18px;
}

.setting .description,
.setting .toggle-switch {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 18px;
}

.setting a,
.setting a:visited {
  color: #19347b;
}

.setting .toggle-switch,
.setting .checkbox {
  cursor: pointer;
}

.setting .toggle-switch {
  position: relative;
  width: 60px;
  height: 20px;
  appearance: none;
  background-color: #aebbdd;
  border-radius: 14px;
  transition: background-color 0.3s ease-in-out;
  outline: none;
  left: 58px;
  border: none;
}

.setting .toggle-switch:checked {
  background-color: #aebbdd;
}

.setting .toggle-switch::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #1c3b70;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.setting .toggle-switch:checked::before {
  background-color: #1c3b70;
  transform: translateX(12px);
}

.setting .checkbox {
  position: relative;
  left: 45px;
  border-radius: 2px;
  border: 2px solid #aebbdd;
  height: 32px;
  width: 22px;
  accent-color: #19347b;
  cursor: pointer;
}

.setting .checkbox:checked {
  background-color: #19347b;
  border-color: #19347b;
}

@media (max-width: 768px) {
  body {
    overflow: auto;
    height: auto;
  }

  .setting {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .setting .toggle-switch {
    left: 0;
  }

  .setting .toggle-switch:checked::before {
    transform: translateX(39px);
  }

  .setting .checkbox {
    align-self: flex-start;
    left: 0;
    margin-top: 8px;
  }

  .setting .setting-title {
    margin-bottom: 5px;
  }
}
